Teste_Python_3/elemento_transcricao_1.html
Teste_Python_3/elemento_transcricao_2.html
Teste_Python_3/transcricao_1_1.json
Teste_Python_3/transcricao_1_2.json
Teste_Python_3/transcricao_2_1.json
Teste_Python_3/transcricao_2_2.json
Cursos Ok/
transcript
__pycache__/
lista_videos.py
expurgar.txt
lista_videos_antiga.py
lista_videos_curso_12.json
lista_videos_curso.json
transcricoes.json
body_5_2 copy.json
body_5_2.json
body_5_3.json
body_6.json
body_7.json
